
/* Universal Styles */ 

body{

    background-color: #FAF9F6;
}

h1{
    font-weight: 400;
    font-family: Lalezar;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;

}

h2{

    font-weight: 500;
    font-family: Montserrat;
    font-size: 30px;

}

section{

    margin-left: 10px;
    margin-right: 10px;
}

section > .subheader {

    text-align: center;
}

h3{

    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

p, li{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


/* Header */ 
header{

    background-color: black;
    padding: 5px;
}

/* Nav */ 
nav{

    margin: 0 auto;
    width: fit-content;
}

nav ul li{

    display: inline; 
    padding: 10px; 
   

}

nav ul li a {

    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

nav ul li a:hover{

    font-weight: bold;
    cursor: pointer;

}
/* Main */ 
main h1{
    text-align: center;
    margin-top: 10px;
}

/*Section = Color */ 

.colors{

    width: 100%;
    height: 100px;

}

.colors h3{

    margin: 10px; 
    padding: 10px;
}

.colors p {

    margin: 10px; 
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#color1{
    background-color:#9F84BD;
}
#color2{
    background-color:#C09BD8 ;
}
#color3{
    background-color:#EBC3DB ;
}
#color4{
    background-color:#EDE3E9 ;
}
#color5{
    background-color:#E6E4CE ;
}


/*Section = Fonts */ 

#arial p{

    font-family: Arial, Helvetica, sans-serif;
}

#courier-new p{

    font-family: 'Courier New', Courier, monospace;
}


#montserrat p {

    font-family: Montserrat;


}


.bold{

    font-weight: bold;
}

.italic {

    font-style: italic;

}

#arial{

    left:0px; 
    position: relative;

    padding-bottom: 10px;
}

#courier-new{

    right:0px; 
    padding-bottom: 10px;
}






/*Section = Styles */ 

#styles{

    clear: both;
}


/* Footer */ 
footer{

    margin-top: 10px;
    padding: 25px;
   /* background-color: #e2dfd2;
     border-radius: 10px; */
    text-align: center;
    /* border-top: 1px solid black; */
}