/*Universal Styles*/ 

/*Header*/ 

#main-top-bg{

    display: grid;
    grid-template-rows: max-content 1fr; /**max-content to control the size of the first row to be small*/
    grid-template-columns: 1fr 1fr; 

    background-image: url('resources/banner_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    width: 100%; 
    height: 100vh;  

    grid-template-areas: "c-logo menu"
                         "playButton playButton"; 
                         
}

/** Comany Logo**/ 
#c-logo{
    /* grid-area: c-logo; */
}
#comp-logo{

    grid-area: c-logo;
    width: 35vw;
    height: auto;
}
  
  /*Nav*/

  nav{
    grid-area: menu;
    justify-items: end; 
    align-self: center;
  }

  .menu ul{
    display: flex;
    justify-content:space-around;
    position: sticky;
    top: 0;
    left: 0; 
  }

  .menu ul a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .menu ul a:hover{
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {

    #main-top-bg{

      grid-template-areas: "c-logo"
                            "menu"
                            "playButton"; 
      grid-template-rows: max-content max-content 1fr; 
      grid-template-columns: 1fr; 

    }

    #comp-logo{ width: 250px; justify-self: center;}
    .menu ul a{ font-size: 1rem; font-family: Georgia;}


  }

  @media only screen and (min-width: 1600px) {
        
    .menu ul a{ font-size: 1.9rem;}
  }

  /*Section */ 

  /** Play Area**/ 

  #play-button{

    grid-area: playButton; 
    /* align-self: end;
    justify-self: center;   */
    padding-bottom: 2%;  

    /* display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; */

    display: grid;
    grid-template-areas: "bttn"
                         "arrow";
    grid-template-rows: max-content 50px;
    row-gap: 15px;
    justify-items: center;
    align-content: end;
    /* justify-content: space-between; */

  }

  @media only screen and (max-width: 600px) {

    #play-button{

      row-gap: 5px; 

    }

  }

  @media only screen and (min-width: 600px) {

    #play-button{

      row-gap: 0px; 

    }
  }
    
  

   #play-button .bttn{

    grid-area: bttn;

    transition:all .5s ease-in-out;
    /* color: white;
    background: black; */

    background: #e82559;
    background-image: -webkit-linear-gradient(top, #e82559, #ed2f42);
    background-image: -moz-linear-gradient(top, #e82559, #ed2f42);
    background-image: -ms-linear-gradient(top, #e82559, #ed2f42);
    background-image: -o-linear-gradient(top, #e82559, #ed2f42);
    background-image: linear-gradient(to bottom, #e82559, #ed2f42);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif; 
    color: #ffffff;
    /* font-size: 20px; */
    font-size: 1.55rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  #play-button .bttn:hover{

    background:white;
    color:black; 
    text-decoration: none;
  }

  .scroll-down {

    grid-area: arrow;
    align-self: end;

    /* margin-top: 5%; */

    /* position: absolute;
    bottom: 15px;
    left: 50%;
    display: block; */

    /* position: absolute;
    left: 50%;
    bottom: 15px;
    display: block;  
    text-align: center;  */
    font-size: 20px;
    /* z-index: 100; */
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
   /*  z-index: 9; */
    /* left: 50%;   */
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  } 
  
  /*Main Content */


  /** General Main Content Styling **/ 

  .sectionTitle{

  font-size: 2.25rem;
  font-weight: bold; 
  color: #4c6277;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif; 

  padding-bottom: 1.5%;
  padding-top: 1.5%;

  }

  main section{
    padding-top: 1.5%; 
    padding-bottom: 1.5%;

  }
  
  main section:nth-child(2n){

    background-color: #0a1321;
    color: whitesmoke;

  }

  main .scontent{

    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 1.5%;


  }


  @media only screen and (max-width: 600px) {

    .sectionTitle{ font-size: 2rem;
      padding-bottom: 3.5%;
      padding-top: 3.5%;
    }

    #about-us{ padding-bottom: 0%;}


  }

  /** About Us**/ 

  #aboutUs {

    /* grid-area: about-us; */

    }

   #aboutUs .scontent{

    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); */

    grid-template: repeat(2,1fr) / repeat(2,1fr);
    column-gap: 10px;    
    row-gap: 20px;
    /* padding-left: 1.5%;
    padding-right: 1.5%; */
    /* margin: 1.5%; */


    justify-items: center;
    align-items: center;

   }

   @media only screen and (max-width: 600px) {

    #aboutUs .scontent{

     grid-template: repeat(4,1fr) / 1fr; 
     /* column-gap: 0px;
     row-gap: 0px; */

    }

    #aboutUs .scontent #desc1{ order: 1; }

    #aboutUs .scontent #img1{ order: 2; width: 300px; height: 225px; } /* Max-Width 786, image size*/ 

    #aboutUs .scontent #desc2{ order: 3; } 

    #aboutUs .scontent #img2{ order: 4; width: 300px; height: 225px; }

    #aboutUs .desc{

      font-size: 0.9rem; 

    }

   }

   @media only screen and (min-width: 601px) and (max-width: 786px){

    #aboutUs .scontent #desc1{ order: 3; }

    #aboutUs .scontent #img1{ order: 1; width: 290px; height: 217.5px; } 

    #aboutUs .scontent #desc2{ order: 4; } 

    #aboutUs .scontent #img2{ order: 2; width: 290px; height: 217.5px; }

    #aboutUs .desc{

      font-size: 0.85rem; 

    }

  }
   


   #aboutUs .desc{

    line-height: 1.5rem;

   }

   #aboutUs img{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }

  /* #aboutUs .imgContainer{

    width: 50%;
    height: 190px;
    overflow: hidden;

    align-self: center;
    justify-self: center;

  }

  #aboutUs .imgContainer img{

    max-height: 100%;
    width: auto;
    display: block; 

  } */

  /** Memberships **/ 

  #membership{

    /* grid-area: membership; */
    
  }

  #membership .scontent{

    display: grid;
    /* grid-template-areas: "mpkg1 mpkg2 mpkg3"
                          "discl discl discl";
       grid-template-columns: repeat(3,1fr);
 */
    grid-template-areas: "mpkg1 mpkg2 mpkg3"
                         "discl discl discl";
    grid-template-columns: repeat(3,1fr);
    
    
    justify-content: center;

    column-gap: 10px;    
    row-gap: 20px;
    padding-left: 1.5%;
    padding-right: 1.5%; 

    /* margin: 1.5%; */

  }

  #m1{

    grid-area: mpkg1;
  }

  #m2{
    grid-area: mpkg2;
  }

  #m3{
    grid-area: mpkg3;
  }

  #membership .m-package{
    border: solid whitesmoke;
    display: flex;
    align-items: center; 
    flex-direction: column; 
  
  }

  .m-package ul {
    list-style: circle;
    list-style-position: inside;
    padding-left: 2%; 
    padding-bottom: 1.5%; 
    padding-top: 1.5%;
  }

  .m-package li{

    line-height: 1.5rem;
  }

  .m-package h3{

    text-align: center;
    font-size: 1.75rem;
    font-weight: normal;  
    padding-top: 10%;
    padding-bottom: 2.5%;

  }

  .m-package .price{

    border: solid whitesmoke;

    font-size: 1.2rem;
    text-align: center;
    width: fit-content;

    padding: 3% 5%;

    /* padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%; */

    margin: 5% 2% 10%;

    /* margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%; */

  }

  #membership .c-symb{

   grid-area: csymb; 
   justify-self: center;
   align-self: center;

   font-size: 1.5rem;
   /* margin-right: auto; */
  }

  #membership .c-txt{

   grid-area: ctxt;
   line-height: 1.5rem;
  }

  #membership .disclaimer{

      grid-area: discl; 
      display: grid;
      /* grid-template-columns: 2% 98%; */
      grid-template-areas: "csymb ctext";
      column-gap: 1%;

     /* grid-area: discl;
     display: flex; */
     

  }
  @media only screen and (max-width: 600px) {

    #membership .scontent{

    /* grid-template-areas: "mpkg1"
                          "mpkg2"
                          "mpkg3"
                         "discl"; 
    grid-template-columns: minmax(300px,420px);  */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    }

    #membership .scontent > *{ max-width: 400px; flex:1 0 300px;}
    #membership .m-package h3{ font-size: 1.3rem; padding-top: 7%;}
    #membership .m-package ul { font-size: 1rem;}
    .m-package .price{ padding-bottom: 5%;}

    #membership .disclaimer{

      max-width: 550px;

      grid-template-areas: "csymb" 
                            "ctext";
      grid-template-rows: 0 auto;

    }

    #membership .c-symb { visibility: hidden;}
    #membership .c-text{ font-size: 1.1rem; font-style: italic; }
    #membership .fa-solid { display: none;}

  }

  @media only screen and (min-width: 1600px) {

    #membership .disclaimer{ column-gap: 0.5%; grid-template-columns: 2% 98%;}
        
    #membership .c-text{
      font-size: 1.5rem;
    }

   #membership .fa-solid{
      font-weight: 1000;
      font-size: 2rem;
    }
}

  /** Events **/ 

  #events .scontent{

    display: grid;
    grid-template-areas: " ev1 ev2 "  
                         " ev3 ev4 "; 
    grid-template-columns: repeat(2,400px);

   /* justify-items: center; 
     align-items: center;*/
      /* justify-content: center;  */
      justify-content: center; 
    /* align-content: space-between;  */

    column-gap: 20px;    
    row-gap: 20px;
    /* padding-left: 1.5%;
    padding-right: 1.5%; */

    /* margin: 1.5%; */
  }

  @media only screen and (max-width: 600px) {

    #events .scontent{

      grid-template-areas: "ev1" 
                           "ev2 "  
                           "ev3" 
                           "ev4 "; 

      grid-template-columns: 315px;
      grid-template-rows: repeat(4, 1fr);
      /* align-items: center; */

    }

    #events .ename{ font-size: 1.25rem;}

  }

  @media only screen and (min-width: 601px) and (max-width: 786px){ 

    #events .scontent{

      grid-template-columns: repeat(2,290px);

    }
    
  }

  #events .event{

    /* padding-left: 2%; 
    padding-right: 2%;  */


    border: 1.5px solid black;

    /* display: flex;
    flex-direction: column;   */


  }

  #events .ename, #events .eDate{ text-align: center; }

  #events .ename{

    padding-top: 10%;
    padding-bottom: 25%; 

    font-size: 1.75rem;
    font-weight: normal;  
    justify-self: center;
  }

  #events .eDate{

    /* margin-top: 25%;  */

    padding-top: 5%;
    padding-bottom: 5%;  

    border-top: 1.5px solid black;
    justify-self: flex-end;

  }

  #events .ename{

    background-color: aliceblue;

  }
  
  
  /** Play Now **/ 


  #playNow .scontent{

    /* grid-area: play-now; */

    /* padding-left: 1.5%;
    padding-right: 1.5%; */
    padding-top: 2%;
    padding-bottom: 2%;

    display: grid;
    grid-template-areas: " loc_title map "  
                         " t_title op_times ";  
   
    grid-template-columns: repeat(2,max-content); 
    grid-template-rows: repeat(2,max-content);

    justify-content: center;
    column-gap: 5%;
  }

  @media only screen and (max-width: 600px) {

    #playNow .scontent{

    grid-template-columns: max-content; 
    grid-template-rows: repeat(4,max-content);
    grid-template-areas: "loc_title"
    "map"  
    "t_title"   
    "op_times"; 

    }

   main #playNow .scontent .loc_map{

      width: 285px;
      height: auto; 

    }

    main #playNow h3{
      font-size: 1.2rem;
    }
  }

  #playNow h3{

    font-size: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif; 
  }

  #playNow .loc{
    grid-area: loc_title;

    
    /* display: flex; 
    justify-content: space-between;
    align-content: center; */
  }

  #playNow .scontent .loc_map{

    grid-area: map;
    /* display: block; */
    
    width:400px;
    height:300px; 

    /* overflow:hidden;
    padding-bottom:90%;
    position:relative;
    height:0; */

  }

  #playNow .scontent iframe{
    /* width: 100%;
    display: block; */

    /* left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; */

  }

  #playNow .time{ grid-area: t_title;}

  #playNow .scontent ul{ grid-area: op_times;}

  #playNow .scontent ul, #playNow .time,  #playNow .scontent .loc_map, #playNow .loc{ padding-bottom: 5%;}
  
  /*Footer*/ 

  footer{

    margin: 1.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .copyright {

    font-size: 0.94rem;    
  }

  footer .social{

  }
  
  footer .social > a {
    font-size:12x;
    width:30px;
    height:30px;
    line-height:30px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  footer .social > a:hover {
    opacity:0.9;
  }
  
  